@mixin paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
@mixin headerText {
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
}
main {
  padding: 3rem 2rem;
  position: relative;
  width: 84%;
  color: #1d242d;
  background-color: #f7fafc;
}
.welcome {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.welcomeBack {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text {
  h1 {
    @include headerText();
  }
  p {
    @include paragraph();
  }
}

.date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  p {
    @include paragraph();
  }
}

.navIcon {
  background-color: #edf1ff;
  padding: 0.3rem 0rem;
}

.navlinks {
  display: flex;
}
.notActive {
  padding: 0.7rem 1rem;
  background-color: white;
  border-radius: 0.2rem;
  font-weight: 600;
}

.active {
  background-color: #4c6fff;
  color: white;
  border-radius: 0.2rem;
  padding: 0.7rem 1rem;
  font-weight: 600;
}

.transactions {
  display: flex;
  justify-content: space-between;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 0.5rem;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
    div {
      display: flex;
      gap: 0.5rem;
      p {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #292d32;
      }
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0em;
      color: #383737;
    }
  }
}

.liveMonitor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
  }
  span {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      gap: 0.5rem;
    }
  }
}
