.logo {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  background: linear-gradient(90deg, #4565e8 42.86%, #202c5f 96.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// HEADER
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: white;
  div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }
}
